<h2>User info</h2>

<table>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :size =>'80x80', fallback: "no_image.jpg" %></td>
    <td></td>
  </tr>
  <tr>
    <td><b>name</b></td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td><b>introduction</b></td>
    <td><%= user.introduction %></td>
  </tr>
</table>
<%= link_to "Edit button", edit_user_path(user) %>